<mat-toolbar class="mat-toolbar mat-toolbar-single-row" color="primary">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu"> </mat-menu>
  <span routerLink="/home">The Colours Of Music</span>

  <span class="spacer"></span>
  <div class="right-panel"></div>
  <button
    class="right-panel__items"
    mat-icon-button
    routerLink="/artists"
    aria-label="icon-button navigates to artists list"
  >
    <mat-icon>mic_external_on</mat-icon>
  </button>
  <button
    class="right-panel__items"
    mat-icon-button
    routerLink="/albums"
    aria-label="icon-button navigates to albums list"
  >
    <mat-icon>album</mat-icon>
  </button>
  <button
    class="right-panel__items"
    mat-icon-button
    routerLink="/tracks"
    aria-label="icon-button navigates to tracks list"
  >
    <mat-icon>audio_file</mat-icon>
  </button>
</mat-toolbar>
