.spacer {
  flex: 1 1 auto;
}

.right-panel {
  display: flex;
  justify-content: space-between;
  &__items {
    margin: 0 5px;
  }
}

.button-header {
  margin: 0px 10px;
}

.header_logo {
  display: flex;
  align-items: center;

  &__image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  &__text {
    margin: 0 5px;
  }
}
// .mat-toolbar {
//   background: rgb(3, 148, 195);
//   background: linear-gradient(
//     90deg,
//     rgba(3, 148, 195, 1) 0%,
//     rgba(157, 241, 50, 1) 33%,
//     rgba(254, 59, 45, 1) 66%,
//     rgba(250, 205, 69, 1) 100%
//   );
// }
