<div class="landing-page">
  <ng-container *ngFor="let card of cardsList">
    <mat-card
      class="landing-page_card landing-page_{{ card.title | lowercase }}"
      routerLink="{{ card.routeLink }}"
    >
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="landing-page_content">
        <mat-icon class="landing-page_icon">{{ card.icon }}</mat-icon>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
