<mat-card class="login-page">
  <mat-card-title>Sign In</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" class="login-form">
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
          email="true"
        />
        <mat-error>Enter a valid email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="name"
          placeholder="username"
          formControlName="username"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <mat-error> Enter a valid Password </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <mat-error> Password mismatch</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="signIn()"
        [disabled]="!form.valid"
      >
        Sign In
      </button>
      <a href="/auth/login" mat-button>Go to Login Page</a>
    </form>
  </mat-card-content>
</mat-card>
